<!DOCTYPE html>
<html lang="en">

<!-- HEAD -->
<%- include('common/head', {
  
}); %>

<body >

  <div class="page-wraper">


    <%- include('common/header', {
    
    }); %>

    <!-- CONTENT START -->
    <div class="page-content">
      <!-- SLIDER -->
      <%- include('common/slider', {
        
      }); %>

      <!-- WELCOME SECTION START -->
      <div class="section-full p-t90 bg-gray">
        <div class="container">
            <div class="section-content">
              <div class="row">
                <div class="col-md-5 col-sm-12 text-uppercase text-black">
                      <span class="font-30 font-weight-300">Welcome</span>
                        <h2 class="font-40">
                            We are creative Building  - Design  Company
                        </h2>
                        <p>Dummy text is also used to demonstrate the appearance of different typefaces and layouts, and in general</p>
                        <p class="text-lowercase">typefaces and layouts, and in appearance of different general 
                              the content of dummy text is nonsensical.typefaces and layouts, 
                              different general the content of dummy text is nonsensical.
                        </p>
                         <!-- <a href="javascript:void(0);" class="btn-half site-button button-lg m-b15"><span>Read More</span><em></em></a> -->
                    </div>
                    
                  <div class="col-md-7 col-sm-12">
                      <div class="m-carousel-1 m-l100">
                        <div class="owl-carousel home-carousel-1 owl-btn-vertical-center">
                                <!-- COLUMNS 1 -->
                                <div class="item">
                                    <div class="ow-img wt-img-effect zoom-slow">
                                        <a href="javascript:void(0);"><img src="images/gallery/pic1.jpg" alt=""></a>
                                    </div>
                                </div>
                                <!-- COLUMNS 2 -->
                                <div class="item">
                                    <div class="ow-img wt-img-effect zoom-slow">
                                        <a href="javascript:void(0);"><img src="images/gallery/pic2.jpg" alt=""></a>
                                    </div>
                                </div>
                                <!-- COLUMNS 3 -->
                                <div class="item">
                                    <div class="owl-img wt-img-effect zoom-slow">
                                        <a href="javascript:void(0);"><img src="images/gallery/pic3.jpg" alt=""></a>
                                    </div>
                                </div>
                                <!-- COLUMNS 4 -->
                                <div class="item">
                                    <div class="ow-img wt-img-effect zoom-slow">
                                        <a href="javascript:void(0);"><img src="images/gallery/pic4.jpg" alt=""></a>
                                    </div>
                                </div>
                                <!-- COLUMNS 5 -->
                                <div class="item">
                                    <div class="ow-img wt-img-effect zoom-slow">
                                        <a href="javascript:void(0);"><img src="images/gallery/pic5.jpg" alt=""></a>
                                    </div>
                                </div>
                           </div>
                       </div>
                    </div>
                </div>
                <div class="hilite-title p-lr20 m-tb20 text-right text-uppercase bdr-gray bdr-right">
                  <strong>18 Year</strong>
                    <span class="text-black">Experience Working</span>
                </div>
            </div>
        </div>
    </div>   
    <!-- WELCOME  SECTION END -->   
     
    <!-- WHO WE ARE SECTION START -->
    <div class="section-full p-t140 bg-repeat" style="background-image:url(images/background/ptn-1.png);">
        <div class="container-fluid">
            <div class="section-content">
              <div class="row">
                    <div class="col-lg-6 col-md-4 col-sm-12">
                        <div class="wt-left-part">
                            <div class="text-uppercase text-black">
                                <span class="font-30 font-weight-300">Wo we are </span>
                                <h2 class="font-40">
                                    We are creative architecture Studio 
                                </h2>
                                <p>Dummy text is also used to demonstrate the appearance of different typefaces and layouts, and in general the content of dummy text is nonsensical. Due to its widespread use texts.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-8 col-sm-12">
                      <div class="m-carousel-2">
                        <div class="owl-carousel carousel-hover home-carousel-2 owl-btn-vertical-center">
                                <!-- COLUMNS 1 -->
                                <div class="item">
                                  <div class="wt-box">
                                        <div class="ow-img wt-carousel-block gradi-black">
                                            <img src="images/projects/pic-1.jpg" alt="">
                                            <div class="p-a50 wt-carousel-info text-white">
                                              <div class="carousel-line">
                                                      <h2 class="font-28 font-weight-400 m-b10">New Acropolis Museum</h2>
                                                      <p class="m-b0">Mattis ex non urna condimentum, eget eleifend diam molestie. Curabitur lorem enimnulla sed, 
                                                            egestas, maximus non nulla sed, egestas venenatis felis
                                                      </p>
                                                  </div>
                                              </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- COLUMNS 2 -->
                                <div class="item">
                                    <div class="wt-box">
                                        <div class="ow-img wt-carousel-block gradi-black">
                                            <img src="images/projects/pic-2.jpg" alt="">
                                            <div class="p-a50 wt-carousel-info text-white">
                                              <div class="carousel-line">
                                                      <h2 class="font-28 font-weight-400 m-b10">New Acropolis Museum</h2>
                                                      <p class="m-b0">Mattis ex non urna condimentum, eget eleifend diam molestie. Curabitur lorem enimnulla sed, 
                                                            egestas, maximus non nulla sed, egestas venenatis felis
                                                      </p>
                                                  </div>
                                              </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- COLUMNS 3 -->
                                <div class="item">
                                    <div class="wt-box">
                                        <div class="ow-img wt-carousel-block gradi-black">
                                            <img src="images/projects/pic-3.jpg" alt="">
                                            <div class="p-a50 wt-carousel-info text-white">
                                              <div class="carousel-line">
                                                      <h2 class="font-28 font-weight-400 m-b10">New Acropolis Museum</h2>
                                                      <p class="m-b0">Mattis ex non urna condimentum, eget eleifend diam molestie. Curabitur lorem enimnulla sed, 
                                                            egestas, maximus non nulla sed, egestas venenatis felis
                                                      </p>
                                                  </div>
                                              </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- COLUMNS 4 -->
                                <div class="item">
                                    <div class="wt-box">
                                        <div class="ow-img wt-carousel-block gradi-black">
                                            <img src="images/projects/pic-4.jpg" alt="">
                                            <div class="p-a50 wt-carousel-info text-white">
                                              <div class="carousel-line">
                                                      <h2 class="font-28 font-weight-400 m-b10">New Acropolis Museum</h2>
                                                      <p class="m-b0">Mattis ex non urna condimentum, eget eleifend diam molestie. Curabitur lorem enimnulla sed, 
                                                            egestas, maximus non nulla sed, egestas venenatis felis
                                                      </p>
                                                  </div>
                                              </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- COLUMNS 5 -->
                                <div class="item">
                                    <div class="wt-box">
                                        <div class="ow-img wt-carousel-block gradi-black">
                                            <img src="images/projects/pic-5.jpg" alt="">
                                            <div class="p-a50 wt-carousel-info text-white">
                                              <div class="carousel-line">
                                                      <h2 class="font-28 font-weight-400 m-b10">New Acropolis Museum</h2>
                                                      <p class="m-b0">Mattis ex non urna condimentum, eget eleifend diam molestie. Curabitur lorem enimnulla sed, 
                                                            egestas, maximus non nulla sed, egestas venenatis felis
                                                      </p>
                                                  </div>
                                              </div>
                                        </div>
                                    </div>
                                </div>
                           </div>
                             <div class="carousel-bg-img">
                              <img src="images/slider-corner.jpg" alt="">
                            </div>
                       </div>
                    </div>
                </div>
            </div>
            <div class="container">
              <div class="hilite-title p-lr20 m-tb20 text-left text-uppercase bdr-gray bdr-left">
                    <strong>30+ Projects</strong>
                    <span class="text-black">Completed</span>
                </div>
            </div>
        </div>
    </div>   
    <!-- WHO WE ARE SECTION END --> 
   
    <!-- OUR EXPERTS SECTION START -->
    <div class="section-full bg-gray square_shape3">
        <div class="container-fluid">
            <div class="section-content">
              <div class="row">
                    <div class="col-md-6 col-sm-12 bg-black square_shape1 square_shape2">
                        <div class="wt-left-part m-experts p-t90">
                            <!-- TITLE START -->
                            <div class="section-head text-left text-white">
                                <h2 class="text-uppercase font-36">Our experts</h2>
                                <div class="wt-separator-outer">
                                    <div class="wt-separator bg-white"></div>
                                </div>
                            </div>
                            <!-- TITLE END -->
                            <div class="wt-team-six large-pic">
                                <div class="wt-team-media wt-thum-bx">
                                    <img src="images/our-team5/pic1.jpg" alt="">
                                </div>
                                <div class="wt-team-info text-center p-lr10 p-tb20 text-white">
                                    <h2 class="wt-team-title text-uppercase"><a href="javascript:void(0);" class="text-white font-32 font-weight-500">Robert willson</a></h2>
                                    <p class="font-22">Co-manager associated</p>
                                    <ul class="social-icons social-md social-square social-dark white-border has-bg">
                                        <li><a href="javascript:void(0);" class="fa fa-facebook"></a></li>
                                        <li><a href="javascript:void(0);" class="fa fa-twitter"></a></li>
                                        <li><a href="javascript:void(0);" class="fa fa-linkedin"></a></li>
                                        <li><a href="javascript:void(0);" class="fa fa-youtube"></a></li>
                                        <li><a href="javascript:void(0);" class="fa fa-instagram"></a></li>
                                    </ul>
                                </div>
                            </div>
                                      
                            <div class="hilite-title p-lr20 m-tb20 text-left text-uppercase bdr-gray bdr-left">
                                <strong class="text-gray">Experts</strong>
                                <span class="text-white">Team Members</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-12">
                      <div class="wt-right-part team-outer">
                        <div class="row">
                                <!-- COLUMNS 1 -->
                                <div class="col-md-6 col-sm-6 col-xs-6 col-xs-100pc m-tb15">
                                    <div class="wt-team-six bg-white">
                                        <div class="wt-team-media wt-thum-bx wt-img-overlay1">
                                            <img src="images/our-team5/pic2.jpg" alt="">
                                            <div class="overlay-bx">
                                              <div class="overlay-icon">
                                                <ul class="social-icons social-square social-dark">
                                                        <li><a href="javascript:void(0);" class="fa fa-facebook"></a></li>
                                                        <li><a href="javascript:void(0);" class="fa fa-twitter"></a></li>
                                                        <li><a href="javascript:void(0);" class="fa fa-linkedin"></a></li>
                        <li><a href="javascript:void(0);" class="fa fa-youtube"></a></li>
                                                        <li><a href="javascript:void(0);" class="fa fa-instagram"></a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="wt-team-info text-center bg-white p-lr10 p-tb20">
                                            <h5 class="wt-team-title text-uppercase m-a0"><a href="javascript:void(0);">David Gray</a></h5>
                                            <p class="m-b0">Co-manager associated</p>
                                            <!---->
                                        </div>
                                    </div>
                                </div>
                                <!-- COLUMNS 2 -->
                                <div class="col-md-6 col-sm-6 col-xs-6 col-xs-100pc m-tb15">
                                    <div class="wt-team-six bg-white">
                                        <div class="wt-team-media wt-thum-bx wt-img-overlay1">
                                            <img src="images/our-team5/pic3.jpg" alt="">
                                            <div class="overlay-bx">
                                              <div class="overlay-icon">
                                                <ul class="social-icons social-square social-dark">
                                                        <li><a href="javascript:void(0);" class="fa fa-facebook"></a></li>
                                                        <li><a href="javascript:void(0);" class="fa fa-twitter"></a></li>
                                                        <li><a href="javascript:void(0);" class="fa fa-linkedin"></a></li>
                        <li><a href="javascript:void(0);" class="fa fa-youtube"></a></li>
                                                        <li><a href="javascript:void(0);" class="fa fa-instagram"></a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="wt-team-info text-center bg-white p-lr10 p-tb20">
                                            <h5 class="wt-team-title text-uppercase m-a0"><a href="javascript:void(0);">Taylor Roberts</a></h5>
                                            <p class="m-b0">Co-manager associated</p>
                                            <!---->
                                        </div>
                                    </div>
                                </div> 
                                <!-- COLUMNS 3 -->
                                <div class="col-md-6 col-sm-6 col-xs-6 col-xs-100pc m-tb15">
                                    <div class="wt-team-six bg-white">
                                        <div class="wt-team-media wt-thum-bx wt-img-overlay1">
                                            <img src="images/our-team5/pic4.jpg" alt="">
                                            <div class="overlay-bx">
                                              <div class="overlay-icon">
                                                <ul class="social-icons social-square social-dark">
                                                        <li><a href="javascript:void(0);" class="fa fa-facebook"></a></li>
                                                        <li><a href="javascript:void(0);" class="fa fa-twitter"></a></li>
                                                        <li><a href="javascript:void(0);" class="fa fa-linkedin"></a></li>
                        <li><a href="javascript:void(0);" class="fa fa-youtube"></a></li>
                                                        <li><a href="javascript:void(0);" class="fa fa-instagram"></a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="wt-team-info text-center bg-white p-lr10 p-tb20">
                                            <h5 class="wt-team-title text-uppercase m-a0"><a href="javascript:void(0);">Robert willson</a></h5>
                                            <p class="m-b0">Co-manager associated</p>
                                            <!---->
                                        </div>
                                    </div>
                                </div>
                                <!-- COLUMNS 4 -->
                                <div class="col-md-6 col-sm-6 col-xs-6 col-xs-100pc m-tb15">
                                    <div class="wt-team-six bg-white">
                                        <div class="wt-team-media wt-thum-bx wt-img-overlay1">
                                            <img src="images/our-team5/pic5.jpg" alt="">
                                            <div class="overlay-bx">
                                              <div class="overlay-icon">
                                                <ul class="social-icons social-square social-dark">
                                                        <li><a href="javascript:void(0);" class="fa fa-facebook"></a></li>
                                                        <li><a href="javascript:void(0);" class="fa fa-twitter"></a></li>
                                                        <li><a href="javascript:void(0);" class="fa fa-linkedin"></a></li>
                        <li><a href="javascript:void(0);" class="fa fa-youtube"></a></li>
                                                        <li><a href="javascript:void(0);" class="fa fa-instagram"></a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="wt-team-info text-center bg-white p-lr10 p-tb20">
                                            <h5 class="wt-team-title text-uppercase m-a0"><a href="javascript:void(0);">Austin Evon</a></h5>
                                            <p class="m-b0">Co-manager associated</p>
                                            <!---->
                                        </div>
                                    </div>
                                </div>                                                                                                                                                      
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        
    </div>   
    <!-- OUR EXPERTS SECTION END --> 
    
    <!-- COMPANY DETAIL SECTION START -->
    <div class="section-full p-tb100 overlay-wraper bg-top-center bg-parallax"  data-stellar-background-ratio="0.5" style="background-image:url(images/background/bg-11.jpg);">
        <div class="overlay-main opacity-08 bg-black"></div>
        <div class="container ">
            <div class="row">
                <div class="col-md-6 col-sm-12">
                  <div class="some-facts">
                    <div class="text-white text-uppercase">
                        <span class="font-40 font-weight-300">Some</span>
                        <h2 class="font-50">
                            Intresting Facts
                        </h2>
                        <p class="font-18 font-weight-300">Morbi mattis ex non urna condimentum, eget eleif
end diam molestie. Curabitur lorem enim, maximus 
non nulla sed, egestas venenatis felis. 
                        </p>
                    </div>
                    </div>
                </div>
               
               <div class="col-md-6 col-sm-12">
                   <div class="row some-facts-counter">
                        <div class="col-md-4 col-sm-4">
                            <div class="wt-icon-box-wraper p-a10 text-white m-b30">
                                <div class="icon-content text-center">
                                    <div class="font-40 font-weight-600 m-b5"><span class="counter">451</span></div>
                                    <div class="wt-separator-outer m-b20"><div class="wt-separator bg-white"></div></div>
                                    <span class="text-uppercase">Happy Clients</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-4">
                            <div class="wt-icon-box-wraper p-a10 text-white m-b30">
                                <div class="icon-content text-center">
                                    <div class="font-40 font-weight-600 m-b5"><span class="counter">532</span></div>
                                    <div class="wt-separator-outer m-b20"><div class="wt-separator bg-white"></div></div>
                                    <span class="text-uppercase">Finished projects</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-4">
                            <div class="wt-icon-box-wraper p-a10 text-white m-b30">
                                <div class="icon-content text-center">
                                    <div class="font-40 font-weight-600 m-b5"><span class="counter">299</span></div>
                                    <div class="wt-separator-outer m-b20"><div class="wt-separator bg-white"></div></div>
                                    <span class="text-uppercase">Working Days</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- COMPANY DETAIL SECTION End --> 
               
    <!-- TESTIMONIALS SECTION START -->
    <div class="section-full p-t140 bg-repeat " style="background-image:url(images/background/ptn-1.png);">
        <div class="container">
            <div class="section-content">
                <!-- TITLE START -->
                <div class="section-head text-left">
                    <h2 class="text-uppercase font-36">Testimonials</h2>
                    <div class="wt-separator-outer">
                        <div class="wt-separator bg-black"></div>
                    </div>
                </div>
                <!-- TITLE END -->                    
                <!-- TESTIMONIAL 4 START ON BACKGROUND -->   
                <div class="section-content">
                    <div class="owl-carousel testimonial-home">
                        <div class="item">
                            <div class="testimonial-6">
                                <div class="testimonial-pic-block"> 
                                    <div class="testimonial-pic">
                                        <img src="images/testimonials/pic1.jpg" width="132" height="132" alt="">
                                    </div>
                                </div>
                                <div class="testimonial-text clearfix bg-white">
                                    <div class="testimonial-detail clearfix">
                                        <strong class="testimonial-name">Taylor Roberts</strong>
                                        <span class="testimonial-position p-t0">Co-manager associated</span>
                                    </div>
                                    <div class="testimonial-paragraph text-black p-t15">
                                        <span class="fa fa-quote-left"></span>
                                        <p>typefaces and layouts, and in appearance of different general the content of dummy text is nonsensical.typefaces of dummy text is nonsensical.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="testimonial-6">
                                <div class="testimonial-pic-block"> 
                                    <div class="testimonial-pic">
                                        <img src="images/testimonials/pic4.jpg" width="132" height="132" alt="">
                                    </div>
                                </div>
                                <div class="testimonial-text clearfix bg-white">
                                    <div class="testimonial-detail clearfix">
                                        <strong class="testimonial-name">Robert willson</strong>
                                        <span class="testimonial-position p-t0">Co-manager associated</span>
                                    </div>
                                    <div class="testimonial-paragraph text-black p-t15">
                                        <span class="fa fa-quote-left"></span>
                                        <p>typefaces and layouts, and in appearance of different general the content of dummy text is nonsensical.typefaces of dummy text is nonsensical.</p>
                                    </div>
                                </div>
                            </div>
                        </div>                                
                        <div class="item">
                            <div class="testimonial-6">
                                <div class="testimonial-pic-block"> 
                                    <div class="testimonial-pic">
                                        <img src="images/testimonials/pic2.jpg" width="132" height="132" alt="">
                                    </div>
                                </div>
                                <div class="testimonial-text clearfix bg-white">
                                    <div class="testimonial-detail clearfix">
                                        <strong class="testimonial-name">Taylor Roberts</strong>
                                        <span class="testimonial-position p-t0">Co-manager associated</span>
                                    </div>
                                    <div class="testimonial-paragraph text-black p-t15">
                                        <span class="fa fa-quote-left"></span>
                                        <p>typefaces and layouts, and in appearance of different general the content of dummy text is nonsensical.typefaces of dummy text is nonsensical.</p>
                                    </div>
                                </div>
                            </div>
                        </div>                                
                        <div class="item">
                            <div class="testimonial-6">
                                <div class="testimonial-pic-block"> 
                                    <div class="testimonial-pic">
                                        <img src="images/testimonials/pic3.jpg" width="132" height="132" alt="">
                                    </div>
                                </div>
                                <div class="testimonial-text clearfix bg-white">
                                    <div class="testimonial-detail clearfix">
                                        <strong class="testimonial-name">Robert willson</strong>
                                        <span class="testimonial-position p-t0">Co-manager associated</span>
                                    </div>
                                    <div class="testimonial-paragraph text-black p-t15">
                                        <span class="fa fa-quote-left"></span>
                                        <p>typefaces and layouts, and in appearance of different general the content of dummy text is nonsensical.typefaces of dummy text is nonsensical.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="testimonial-6">
                                <div class="testimonial-pic-block"> 
                                    <div class="testimonial-pic">
                                        <img src="images/testimonials/pic1.jpg" width="132" height="132" alt="">
                                    </div>
                                </div>
                                <div class="testimonial-text clearfix bg-white">
                                    <div class="testimonial-detail clearfix">
                                        <strong class="testimonial-name">Taylor Roberts</strong>
                                        <span class="testimonial-position p-t0">Co-manager associated</span>
                                    </div>
                                    <div class="testimonial-paragraph text-black p-t15">
                                        <span class="fa fa-quote-left"></span>
                                        <p>typefaces and layouts, and in appearance of different general the content of dummy text is nonsensical.typefaces of dummy text is nonsensical.</p>
                                    </div>
                                </div>
                            </div>
                        </div> 
                        <div class="item">
                            <div class="testimonial-6">
                                <div class="testimonial-pic-block"> 
                                    <div class="testimonial-pic">
                                        <img src="images/testimonials/pic4.jpg" width="132" height="132" alt="">
                                    </div>
                                </div>
                                <div class="testimonial-text clearfix bg-white">
                                    <div class="testimonial-detail clearfix">
                                        <strong class="testimonial-name">Taylor Roberts</strong>
                                        <span class="testimonial-position p-t0">Co-manager associated</span>
                                    </div>
                                    <div class="testimonial-paragraph text-black p-t15">
                                        <span class="fa fa-quote-left"></span>
                                        <p>typefaces and layouts, and in appearance of different general the content of dummy text is nonsensical.typefaces of dummy text is nonsensical.</p>
                                    </div>
                                </div>
                            </div>
                        </div>                                                                                                
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
              <div class="hilite-title p-lr20 m-tb20 text-right text-uppercase bdr-gray bdr-right">
                    <strong>Client</strong>
                    <span class="text-black">Says</span>
                </div>
            </div>                
    </div>   
    <!-- TESTIMONIALS SECTION END --> 
      
    <!-- CLIENT LOGO SECTION START -->
    <div class="section-full p-tb40 bg-black square_shape4">
        <div class="container">
            <div class="section-content">
            
                <!-- TESTIMONIAL 4 START ON BACKGROUND -->   
                <div class="section-content">
                    <div class="row">
                      <div class="col-md-4 col-sm-12">
                            <!-- TITLE START -->
                            <div class="text-left">
                                <h2 class="text-uppercase font-36 text-white">Our Clients</h2>
                                <div class="wt-separator-outer">
                                    <div class="wt-separator bg-white"></div>
                                </div>
                            </div>
                            <!-- TITLE END -->                                
                        </div>
                        
                        <div class="col-md-8 col-sm-12">
                            <div class="section-content bg-white p-tb10">
                                <div class="owl-carousel home-client-carousel owl-btn-center-v">
                                
                                    <div class="item">
                                        <div class="ow-client-logo">
                                            <div class="client-logo client-logo-media">
                                            <a href="javascript:void(0);"><img src="images/client-logo/w1.png" alt=""></a></div>
                                        </div>
                                    </div>
                                    
                                    <div class="item">
                                        <div class="ow-client-logo">
                                            <div class="client-logo client-logo-media">
                                            <a href="javascript:void(0);"><img src="images/client-logo/w2.png" alt=""></a></div>
                                        </div>
                                    </div>
                                    
                                    <div class="item">
                                        <div class="ow-client-logo">
                                            <div class="client-logo client-logo-media">
                                            <a href="javascript:void(0);"><img src="images/client-logo/w3.png" alt=""></a></div>
                                        </div>
                                    </div>
                                    
                                    <div class="item">
                                        <div class="ow-client-logo">
                                            <div class="client-logo client-logo-media">
                                            <a href="javascript:void(0);"><img src="images/client-logo/w4.png" alt=""></a></div>
                                        </div>
                                    </div>
                                    
                                    <div class="item">
                                        <div class="ow-client-logo">
                                            <div class="client-logo client-logo-media">
                                            <a href="javascript:void(0);"><img src="images/client-logo/w5.png" alt=""></a></div>
                                        </div>
                                    </div>
                                    
                                    <div class="item">
                                        <div class="ow-client-logo">
                                            <div class="client-logo client-logo-media">
                                            <a href="javascript:void(0);"><img src="images/client-logo/w6.png" alt=""></a></div>
                                        </div>
                                    </div>
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
      </div>
      <!-- CLIENT LOGO  SECTION End --> 
    </div>
    <!-- CONTENT END -->

    <!-- FOOTER -->
    <%- include('common/footer', {
    
    }); %>

    <!-- BUTTON TOP -->
    <%- include('common/scroltop-button', {
    
    }); %>
  </div>
  
</body>

