<%
const monthNames = ["January", "February", "March", "April", "May", "June",
"July", "August", "September", "October", "November", "December"
];
%>

<!DOCTYPE html>
<html lang="en">

<!-- HEAD -->
<%- include('../common/head', {
  
}); %>

<body >

  <div class="page-wraper">


    <%- include('../common/header', {
  
    }); %>

    <!-- CONTENT START -->
    <div class="page-content ">
      <!-- INNER PAGE BANNER -->
      <div class="wt-bnr-inr overlay-wraper bg-parallax bg-top-center"  data-stellar-background-ratio="0.5"  style="background-image:url(/images/banner/2.jpg);">
        <div class="overlay-main bg-black opacity-07"></div>
          <div class="container">
              <div class="wt-bnr-inr-entry">
                <div class="banner-title-outer">
                    <div class="banner-title-name">
                      <h2 class="text-white text-uppercase letter-spacing-5 font-18 font-weight-300">high quality, effective, and inspiring built space.</h2>
                      </div>
                  </div>
                  <!-- BREADCRUMB ROW -->                            
                  <div class="p-tb20">
                      <div>
                          <ul class="wt-breadcrumb breadcrumb-style-2">
                              <li><a href="javascript:void(0);">Home</a></li>
                              <li>Post Gallery</li>
                          </ul>
                      </div>
                  </div>
                  <!-- BREADCRUMB ROW END -->                        
              </div>
          </div>
      </div>
      <!-- INNER PAGE BANNER END -->
      
      <!-- SECTION CONTENT START -->
      <div class="section-full p-tb90 square_shape1 square_shape3">
          <div class="container">
              <div class="blog-post blog-lg date-style-1 text-black">
      
                  <div class="wt-post-media">
                      <!--Fade slider-->
                      <div class="owl-carousel owl-fade-slider-one owl-btn-vertical-center owl-dots-bottom-right">
                        <% for (let i = 1; i <= 10; i++) { %>
                            <% if (post.get(`image${i}`)) { %>
                                <div class="item">
                                    <div class="aon-thum-bx">
                                        <img src="<%= post.get(`image${i}`).url(); %>" alt="">
                                    </div>
                                </div>
                            <% }; %> 
                        <% }; %> 
                      
                      </div>
                      <!--fade slider END-->
                  </div>
                  <div class="wt-post-info p-t30 bg-white">
                      <div class="wt-post-title ">
                          <h2 class="post-title"><a href="javascript:void(0);" class="text-black font-20 letter-spacing-2 font-weight-600"><%= post.get('title') %></a></h2>
                      </div>
                      <div class="wt-post-meta">
                          <ul>
                              <li class="post-date"> <strong><%= post.get('createdAt').getDate() + " " + monthNames[post.get('createdAt').getMonth()];  %></strong> <span> <%= post.get('createdAt').getFullYear(); %></span> </li>
                              <li class="post-author"><a href="javascript:void(0);">By <span>Admin</span></a> </li>
                              <!-- <li class="post-comment"><a href="javascript:void(0);">5 Comments</a> </li> -->
                          </ul>
                      </div>
                      <div class="wt-post-text">
                            <p><%= post.get('content') %> </p>
                      </div>
                      <div class="row">
                          <div class="col-md-8 col-sm-6">
                              <div class="widget bg-white  widget_tag_cloud">
                              <h4 class="tagcloud text-uppercase">Tags</h4>
                              <div class="tagcloud">
                                <% post.get('tags').forEach(function(tag){ %>
                                    <a href="javascript:void(0);"><%= tag; %></a>
                                <% }); %>                            
                                  
                              </div>
                          </div>
                          </div>
                          <div class="col-md-4 col-sm-6">
                              <div class="wt-box">
                              <div class="row  p-lr15">
                                  <h4 class="tagcloud text-uppercase">Share this Post:</h4>
                                  <div class="widget_social_inks">
                                      <ul class="social-icons social-md social-square social-dark m-b0">
                                          <li><a href="javascript:void(0);" class="fa fa-facebook"></a></li>
                                          <li><a href="javascript:void(0);" class="fa fa-twitter"></a></li>
                                          <li><a href="javascript:void(0);" class="fa fa-rss"></a></li>
                                          <li><a href="javascript:void(0);" class="fa fa-youtube"></a></li>
                                          <li><a href="javascript:void(0);" class="fa fa-instagram"></a></li>
                                      </ul>
                                 </div>
                              </div>
                              
                          </div>
                          </div>
                      </div>
                  </div>
                  
              </div>
              <!-- BLOG START -->
              <div class="wt-divider divider-3px bg-gray-dark"><i class="icon-dot c-square"></i></div>
              
              <div class="section-content">
                  <!-- TITLE START -->
                  <div class="text-left">
                      <h2 class="text-uppercase font-36">Related projects</h2>
                      <div class="wt-separator-outer">
                          <div class="wt-separator bg-black"></div>
                      </div>
                  </div>
                  <!-- TITLE END -->
                  <!-- CAROUSEL -->
                  <div class="section-content">
                          <div class="owl-carousel blog-related-slider  owl-btn-top-right">
                            <% relatedPosts.forEach(function(relatedPost){ %>
                                <div class="item">
                                    <div class="blog-post blog-grid date-style-1">
                                       <div class="wt-post-media wt-img-effect zoom-slow">
                                           <a href="javascript:void(0);"><img src="<%= relatedPost.get('image1').url() %>" alt=""></a>
                                       </div>
                                       <div class="wt-post-info p-a20 bg-gray text-black">
                                           <div class="wt-post-title ">
                                               <h2 class="post-title"><a href="<%= '/projects/' + relatedPost.get('alias') %>" class="text-black font-16 letter-spacing-2 font-weight-600"><%= relatedPost.get('name') %></a></h2>
                                           </div>
                                           <div class="wt-post-meta ">
                                               <ul>
                                                   <li class="post-date"><strong><%= relatedPost.get('createdAt').getDate() + " " + monthNames[relatedPost.get('createdAt').getMonth()];  %></strong> <span> <%= relatedPost.get('createdAt').getFullYear(); %></span> </li>
                                                   <li class="post-author"><a href="javascript:void(0);">By <span>Admin</span></a> </li>
                                               </ul>
                                           </div>
                                           <div class="wt-post-text">
                                               <p><%= relatedPost.get('description') %></p>  
                                           </div>
                                           <a href="<%= '/projects/' + relatedPost.get('alias') %>" class="site-button black radius-no text-uppercase"><span class="font-12 letter-spacing-5"> Read More </span></a>
                                       </div>
                                   </div>
                               </div>
                            <% }); %>
                              
                          </div>
                      </div>
              </div>
              
              
              <!-- BLOG END -->
                  
          </div>
      </div>
      <!-- SECTION CONTENT END -->

  </div>
  <!-- CONTENT END -->

    <!-- FOOTER -->
    <%- include('../common/footer', {
    
    }); %>

    <!-- BUTTON TOP -->
    <%- include('../common/scroltop-button', {
    
    }); %>
  </div>
  
</body>

