<!DOCTYPE html>
<html lang="en">

<!-- HEAD -->
<%- include('../common/head', {
  
}); %>

<body >

  <div class="page-wraper">


    <%- include('../common/header', {
    
    }); %>

    <!-- CONTENT START -->
    <div class="page-content">
      <!-- SLIDER -->
      <%- include('../common/slider', {
        
      }); %>
      <!-- SECTION CONTENT START -->
      <div class="section-full p-tb90 square_shape1">
            
        <!-- GALLERY CONTENT START -->
          <div class="container">
             <div class="news-listing ">
                    <!-- COLUMNS 1 -->
                     <div class="blog-post blog-md date-style-1 clearfix bdr-2 bdr-gray-light m-b60 bg-gray" >
                        <div class="wt-post-media wt-img-effect zoom-slow">
                            <a href="/projects/detail"><img src="images/gallery/pic2.jpg" alt=""></a>
                        </div>
                        <div class="wt-post-info p-tb30 text-black">
                            <div class="wt-post-title ">
                                <h2 class="post-title"><a href="/projects/detail" class="text-black font-20 letter-spacing-4 font-weight-600">Triangle Concrete House on lake</a></h2>
                            </div>
                            <div class="wt-post-meta ">
                                <ul>
                                    <li class="post-date"><strong>20 Feb</strong> <span> 2018</span> </li>
                                    <li class="post-author"><a href="javascript:void(0);">By <span>Admin</span></a> </li>
                                </ul>
                            </div>
                            <div class="wt-post-text">
                                <p>Asperiores, tenetur, blanditiis, quaerat odit ex exercitationem pariatur quibusdam veritatis quisquam laboriosam esse beatae hic perferendis velit deserunt soluta iste repellendus officia in neque veniam debitis</p> 
                            </div>
                            <a href="javscript:;" class="v-button letter-spacing-4 font-12 text-uppercase">Read More</a>
                        </div>
                    </div>                             
                    <!-- COLUMNS 2 -->
                     <div class="blog-post blog-md date-style-1 clearfix bdr-2 bdr-gray-light m-b60 bg-gray">
                        <div class="wt-post-media wt-img-effect zoom-slow">
                            <a href="javascript:void(0);"><img src="images/gallery/pic6.jpg" alt=""></a>
                        </div>
                        <div class="wt-post-info p-tb30 text-black">
                            <div class="wt-post-title ">
                                <h2 class="post-title"><a href="javascript:void(0);" class="text-black font-20 letter-spacing-4 font-weight-600">Triangle Concrete House on lake</a></h2>
                            </div>
                            <div class="wt-post-meta ">
                                <ul>
                                    <li class="post-date"><strong>20 Feb</strong> <span> 2018</span> </li>
                                    <li class="post-author"><a href="javascript:void(0);">By <span>Admin</span></a> </li>
                                </ul>
                            </div>
                            <div class="wt-post-text">
                                <p>Asperiores, tenetur, blanditiis, quaerat odit ex exercitationem pariatur quibusdam veritatis quisquam laboriosam esse beatae hic perferendis velit deserunt soluta iste repellendus officia in neque veniam debitis</p> 
                            </div>
                            <a href="javscript:;" class="v-button letter-spacing-4 font-12 text-uppercase">Read More</a>
                        </div>
                    </div> 
                    <!-- COLUMNS 3 -->
                     <div class="blog-post blog-md date-style-1 clearfix bdr-2 bdr-gray-light m-b60 bg-gray" >
                        <div class="wt-post-media wt-img-effect zoom-slow">
                            <a href="javascript:void(0);"><img src="images/gallery/pic1.jpg" alt=""></a>
                        </div>
                        <div class="wt-post-info p-tb30 text-black">
                            <div class="wt-post-title ">
                                <h2 class="post-title"><a href="javascript:void(0);" class="text-black font-20 letter-spacing-4 font-weight-600">Triangle Concrete House on lake</a></h2>
                            </div>
                            <div class="wt-post-meta ">
                                <ul>
                                    <li class="post-date"><strong>20 Feb</strong> <span> 2018</span> </li>
                                    <li class="post-author"><a href="javascript:void(0);">By <span>Admin</span></a> </li>
                                </ul>
                            </div>
                            <div class="wt-post-text">
                                <p>Asperiores, tenetur, blanditiis, quaerat odit ex exercitationem pariatur quibusdam veritatis quisquam laboriosam esse beatae hic perferendis velit deserunt soluta iste repellendus officia in neque veniam debitis</p> 
                            </div>
                            <a href="javscript:;" class="v-button letter-spacing-4 font-12 text-uppercase">Read More</a>
                        </div>
                    </div>                             
                    <!-- COLUMNS 4 -->
                     <div class="blog-post blog-md date-style-1 clearfix bdr-2 bdr-gray-light m-b60 bg-gray">
                        <div class="wt-post-media wt-img-effect zoom-slow">
                            <a href="javascript:void(0);"><img src="images/gallery/pic3.jpg" alt=""></a>
                        </div>
                        <div class="wt-post-info p-tb30 text-black">
                            <div class="wt-post-title ">
                                <h2 class="post-title"><a href="javascript:void(0);" class="text-black font-20 letter-spacing-4 font-weight-600">Triangle Concrete House on lake</a></h2>
                            </div>
                            <div class="wt-post-meta ">
                                <ul>
                                    <li class="post-date"><strong>20 Feb</strong> <span> 2018</span> </li>
                                    <li class="post-author"><a href="javascript:void(0);">By <span>Admin</span></a> </li>
                                </ul>
                            </div>
                            <div class="wt-post-text">
                                <p>Asperiores, tenetur, blanditiis, quaerat odit ex exercitationem pariatur quibusdam veritatis quisquam laboriosam esse beatae hic perferendis velit deserunt soluta iste repellendus officia in neque veniam debitis</p> 
                            </div>
                            <a href="javscript:;" class="v-button letter-spacing-4 font-12 text-uppercase">Read More</a>
                        </div>
                    </div> 
                    <!-- COLUMNS 5 -->
                     <div class="blog-post blog-md date-style-1 clearfix bdr-2 bdr-gray-light m-b60 bg-gray" >
                        <div class="wt-post-media wt-img-effect zoom-slow">
                            <a href="javascript:void(0);"><img src="images/gallery/pic5.jpg" alt=""></a>
                        </div>
                        <div class="wt-post-info p-tb30 text-black">
                            <div class="wt-post-title ">
                                <h2 class="post-title"><a href="javascript:void(0);" class="text-black font-20 letter-spacing-4 font-weight-600">Triangle Concrete House on lake</a></h2>
                            </div>
                            <div class="wt-post-meta ">
                                <ul>
                                    <li class="post-date"><strong>20 Feb</strong> <span> 2018</span> </li>
                                    <li class="post-author"><a href="javascript:void(0);">By <span>Admin</span></a> </li>
                                </ul>
                            </div>
                            <div class="wt-post-text">
                                <p>Asperiores, tenetur, blanditiis, quaerat odit ex exercitationem pariatur quibusdam veritatis quisquam laboriosam esse beatae hic perferendis velit deserunt soluta iste repellendus officia in neque veniam debitis</p> 
                            </div>
                            <a href="javscript:;" class="v-button letter-spacing-4 font-12 text-uppercase">Read More</a>
                        </div>
                    </div>                             
                    <!-- COLUMNS 6 -->
                     <div class="blog-post blog-md date-style-1 clearfix bdr-2 bdr-gray-light m-b60 bg-gray">
                        <div class="wt-post-media wt-img-effect zoom-slow">
                            <a href="javascript:void(0);"><img src="images/gallery/pic4.jpg" alt=""></a>
                        </div>
                        <div class="wt-post-info p-tb30 text-black">
                            <div class="wt-post-title ">
                                <h2 class="post-title"><a href="javascript:void(0);" class="text-black font-20 letter-spacing-4 font-weight-600">Triangle Concrete House on lake</a></h2>
                            </div>
                            <div class="wt-post-meta ">
                                <ul>
                                    <li class="post-date"><strong>20 Feb</strong> <span> 2018</span> </li>
                                    <li class="post-author"><a href="javascript:void(0);">By <span>Admin</span></a> </li>
                                </ul>
                            </div>
                            <div class="wt-post-text">
                                <p>Asperiores, tenetur, blanditiis, quaerat odit ex exercitationem pariatur quibusdam veritatis quisquam laboriosam esse beatae hic perferendis velit deserunt soluta iste repellendus officia in neque veniam debitis</p> 
                            </div>
                            <a href="javscript:;" class="v-button letter-spacing-4 font-12 text-uppercase">Read More</a>
                        </div>
                    </div>
                    <!-- COLUMNS 7 -->
                     <div class="blog-post blog-md date-style-1 clearfix bdr-2 bdr-gray-light m-b60 bg-gray" >
                        <div class="wt-post-media wt-img-effect zoom-slow">
                            <a href="javascript:void(0);"><img src="images/gallery/pic8.jpg" alt=""></a>
                        </div>
                        <div class="wt-post-info p-tb30 text-black">
                            <div class="wt-post-title ">
                                <h2 class="post-title"><a href="javascript:void(0);" class="text-black font-20 letter-spacing-4 font-weight-600">Triangle Concrete House on lake</a></h2>
                            </div>
                            <div class="wt-post-meta ">
                                <ul>
                                    <li class="post-date"><strong>20 Feb</strong> <span> 2018</span> </li>
                                    <li class="post-author"><a href="javascript:void(0);">By <span>Admin</span></a> </li>
                                </ul>
                            </div>
                            <div class="wt-post-text">
                                <p>Asperiores, tenetur, blanditiis, quaerat odit ex exercitationem pariatur quibusdam veritatis quisquam laboriosam esse beatae hic perferendis velit deserunt soluta iste repellendus officia in neque veniam debitis</p> 
                            </div>
                            <a href="javscript:;" class="v-button letter-spacing-4 font-12 text-uppercase">Read More</a>
                        </div>
                    </div>                                                                                      
                </div>
                <ul class="pagination m-tb0">
                   <li><a href="#">«</a></li>
                   <li><a href="#">1</a></li>
                   <li><a href="#">2</a></li>
                   <li><a href="#">3</a></li>
                   <li><a href="#">4</a></li>
                   <li><a href="#">5</a></li>
                   <li><a href="#">»</a></li>
                </ul>
        </div>
        <!-- GALLERY CONTENT END -->
    
    </div>
    <!-- SECTION CONTENT END  -->
    
    </div>
    <!-- CONTENT END -->

    <!-- FOOTER -->
    <%- include('../common/footer', {
    
    }); %>

    <!-- BUTTON TOP -->
    <%- include('../common/scroltop-button', {
    
    }); %>
  </div>
  
</body>

