<!DOCTYPE html>
<html lang="en">

<!-- HEAD -->
<%- include('../common/head', {
  
}); %>

<body >

  <div class="page-wraper">


    <%- include('../common/header', {
    
    }); %>

    <!-- CONTENT START -->
    <div class="page-content">
      <!-- SLIDER -->
      <%- include('../common/slider', {
        
      }); %>
      <!-- SECTION CONTENT START -->
      <div class="section-full p-tb90 square_shape1">
            
        <!-- GALLERY CONTENT START -->
          <div class="container">
             <div class="news-listing ">
                    <!-- COLUMNS 1 -->
                    <% posts.forEach(function(post){ %>
                        <%- include('item', {post: post}); %>
                    <% }); %>                                                                          
                </div>
                <ul class="pagination m-tb0">
                  <li><a href="/projetcs?page=1">«</a></li>
                  <% if (page > 2) { %>
                    <% const lastPage = page + 2 <= totalPage ? (page + 2) : totalPage; %>
                    
                    <% for (let i = page - 2; i <= lastPage; i++) { %>
                      <li><a href="/projetcs?page=<%= i; %>"><%= i; %></a></li>
                    <% } %>
                  <% } else { %>
                    <% const lastPage = 5 <= totalPage ? 5 : totalPage; %>
                    <% for (let i = 1; i <= lastPage; i++) { %>
                      <li><a href="/projetcs?page=<%= i; %>"><%= i; %></a></li>
                    <% } %>
                  <% } %>
                  
                  <li><a href="#">»</a></li>
                </ul>
        </div>
        <!-- GALLERY CONTENT END -->
    
    </div>
    <!-- SECTION CONTENT END  -->
    
    </div>
    <!-- CONTENT END -->

    <!-- FOOTER -->
    <%- include('../common/footer', {
    
    }); %>

    <!-- BUTTON TOP -->
    <%- include('../common/scroltop-button', {
    
    }); %>
  </div>
  
</body>

