<%
const monthNames = ["January", "February", "March", "April", "May", "June",
"July", "August", "September", "October", "November", "December"
];
%>
<div class="blog-post blog-md date-style-1 clearfix bdr-2 bdr-gray-light m-b60 bg-gray" >
  <div class="wt-post-media wt-img-effect zoom-slow">
      <a href="<%= '/projects/' + post.get('alias') %>"><img src="<%= post.get('image1').url() %>" alt=""></a>
  </div>
  <div class="wt-post-info p-tb30 text-black">
      <div class="wt-post-title ">
          <h2 class="post-title"><a href="<%= '/projects/' + post.get('alias') %>" class="text-black font-20 letter-spacing-4 font-weight-600"><%= post.get('name') %></a></h2>
      </div>
      <div class="wt-post-meta ">
          <ul>
              <li class="post-date"><strong><%= post.get('createdAt').getDate() + " " + monthNames[post.get('createdAt').getMonth()];  %></strong> <span><%= post.get('createdAt').getFullYear(); %></span> </li>
              <li class="post-author"><a href="javascript:void(0);">By <span>Admin</span></a> </li>
          </ul>
      </div>
      <div class="wt-post-text">
          <p><%= post.get('description') %></p> 
      </div>
      <a href="<%= post.get('alisas') %>" class="v-button letter-spacing-4 font-12 text-uppercase">Read More</a>
  </div>
</div> 